@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;800&display=swap');

* {
    --darkest: #161920; /* Used exclusively for text on a light background */
    --veryDark: #373F51; /* Used as a dark background */
    --mediumDark: #FE5F55; /* Used for everything else */
    --mediumLight: #FE8B55; /* Used for emphasised text on any background */
    --almostLightest: #dee1e4;  /* Used for slightly making things stand out */
    --lightest: #EEF0F2; /* Used for light background or text on a dark background */
}

body {
    margin: 0 0 0 0;
    padding: 0;
    color: var(--darkest);
    background-color: var(--lightest);
    font-family: Inter;
}

::-webkit-scrollbar { display: none; }
.scrollShown::-webkit-scrollbar { display: block; background-color: var(--darkest); }
.scrollShown::-webkit-scrollbar-thumb { background-color: var(--veryDark); }
.scrollShown::-webkit-scrollbar-thumb:hover { background-color: #55617c; }

/* Big intro text styling */
section.hero span.name {
    color: var(--mediumLight);
}
section.hero {
    color: var(--lightest);
    background: linear-gradient(to top right, var(--veryDark), var(--darkest));
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}
section.hero div {
    margin: 0 20% 0 20%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
section.hero h1 {
    font-size: 6.5vh;
    margin: 3vh 0;
}
section.hero button {
    font-size: 2vh;
    font-family: Inter;
    border: 2px solid var(--mediumLight);
    background: none;
    color: var(--lightest);
    padding: 1vh 2vh;
    cursor: pointer;
    margin: 0 2vh 2vh 0;
    outline: none;
    transition: 100ms;
}
section.hero button:hover {
    border: 2px solid var(--mediumLight);
    background-color: var(--mediumLight);
    color: var(--darkest);
}
hr {
    width: 30vw;
    height: 0.4vh;
    outline: none;
    border: none;
    background-color: var(--mediumLight);
    border-radius: 0.1vw;
}

/* Regular section styling */
section.regular {
    background-color: var(--lightest);
    color: var(--darkest);
    box-sizing: border-box;
    width: 100%;
    min-height: 25%;
    font-size: 2.5vh;
    padding: 5vh 0;
}
section.regular:nth-child(2n+1) {
    background-color: var(--almostLightest);
}
section.regular div.container {
    margin: 0 20% 0 20%;
    padding: 5vh 0;
}
section.regular h1 {
    font-size: 4vh;
    margin-top: 0;
    margin-bottom: 1vh;
}
section.regular h2 {
    font-size: 3vh;
    font-weight: 200;
    margin: 0.5vh 0;
}
section.regular img {
    float: left;
    height: 20vh;
    border-radius: 2vh;
    margin-right: 5vh;
}
section.regular div.flexCols {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2vh;
}
section.regular ul {
    list-style: none;
}
section.regular li::before {
    content: "\2022";
    color: #35db46;
    display: inline-block;
    transform: scale(1.5) translateY(-0.05em);
    width: 1em;
    margin-left: -1em;
}
section.regular ul.orange li::before {
    color: var(--mediumLight);
}

/* Project showcase styling */
.projectsShowcase {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1vh;
}
.project {
    flex: 1;
    background-color: var(--mediumLight);
    color: var(--darkest);
    border-radius: 2vh;
    margin: 2vh;
    box-sizing: border-box;
    padding: 2vh;
    cursor: pointer;
    transition: 100ms;
    min-width: 250px;
}
.project:hover {
    transform: scale(1.1);
}
.project:nth-child(odd) {
    background-color: var(--mediumDark);
}
.project span.title {
    display: block;
    color: var(--lightest);
    font-weight: 800;
    font-size: 1.5em;
    margin-bottom: 1vh;
}
.project span.lang {
    font-weight: 200;
    color: white;
}
.project span.lang::after {
    content: " \2022"; /* • character unicode */
}